In [16]:
import pandas as pd
import itertools

def calc_edges(node1: float, node2: float) -> float:
    """Calculates the symmetrical weight of edges in the graph
    Symmetrical means that if one of node values is equal to zero, returns zero

    Parameters
    ----------
    node1 : float
        value of node
    node2 : float
        value of node

    Returns
    -------
    float
        edge weight
    """
    if node1 == 0 or node2 == 0:
        return 0
    return node1 / node2

In [21]:
df = pd.read_csv('data/сystic_fibrosis_11_01_2023 - сystic_fibrosis_11_01_2023.csv.csv')
df

         p1     p2
0       n_1    n_2
1       n_1    n_3
2       n_1    n_4
3       n_1    n_5
4       n_1    n_6
...     ...    ...
8123  n_125  n_127
8124  n_125  n_128
8125  n_126  n_127
8126  n_126  n_128
8127  n_127  n_128

[8128 rows x 2 columns]

In [43]:
# преобразуем названия узлов в удобочитаемые
map_nodes_dict = {v: f'n_{k - 1}' for k, v in enumerate(df.columns) if v not in ['Sample Name', 'Group']}
map_nodes_dict_inv = {v: k for k, v in map_nodes_dict.items()}

In [22]:
# dataFrame с комбинацией всех узлов
result_df = pd.DataFrame(list(itertools.combinations(map_nodes_dict.values(), 2)), columns=['p1', 'p2'])

In [47]:
for idx in df.index:
    result_df.loc[:, df.loc[idx, 'Sample Name']] = \
        result_df.apply(lambda x: calc_edges(df.iloc[idx, :][map_nodes_dict_inv[x['p1']]],
                                             df.iloc[idx, :][map_nodes_dict_inv[x['p2']]]), axis=1)

In [49]:
result_df.head()

,p1,p2,Id_1,Id_2,Id_3,Id_4,Id_5,Id_6,Id_7,Id_8,...,Id_96,Id_97,Id_98,Id_99,Id_100,Id_101,Id_102,Id_103,Id_104,Id_105
0,n_1,n_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.016625,0.0
1,n_1,n_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000731,0.0
2,n_1,n_4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.690962,0.0
3,n_1,n_5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.077986,0.0
4,n_1,n_6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.027160,0.0

In [53]:
result_df.to_csv('data/raw/сystic_fibrosis_network_symmetrical_11_01_2023.csv', index=False)